#bottom_bar {
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	display: grid;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.creater_message {
	color: white;
	margin: 0px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.copyright_notice {
	color: white;
	margin: 0px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}